{
  // plugin para a server side rendering funcionar com o styled-components.
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ],

  //presets do typescript e nextjs para escrever testes dentro do jest utilizando códigos typescript e javascript
  "presets": ["next/babel", "@babel/preset-typescript"]

}
